body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: #FF7F99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: large;
}

.yellow {
    background-color: #ffc94168;
    border: #ffca41 solid 1.5px;
    border-radius: 15px;
    padding: 4px 20px;
}

.transparent {
    background-color: transparent;
    border: none;
}

.yellow, .transparent {
    color: #fff;
    font-size: medium;
}

.wehelp {
    color: #fff;
}

.you {
    color: #ffca41;
}